@using ViVenty.WebUI.Models

@model HsuitDetailsModel

@{
    ViewBag.Title = Model.Hsuit.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
function chooseImage(x)
{
    var i;
    for (i = 0; i < @Model.Photos.Count; i++) {
        console.log(x.toString());

        var photoId = "#p" + i;
        if (i == x.toString()) {
            $(photoId).attr("style", "border:solid;border-width:2px;border-color:lightgreen;margin:5px");
        }
        else {
            $(photoId).attr("style", "margin:5px");
        }
    }

    var image = $("#p"+x).attr("src");
    $("#mainImage").attr("src", image);
};
</script>

<div id="categories" class="col-md-2">
    @Html.Action("Menu", "Nav")
</div>

<div class="well col-md-4">
    <div>
        <h3>
            <strong>@Model.Hsuit.Name</strong>
            <span class="pull-right label label-primary">@Model.Hsuit.Price.ToString("# руб")</span>
        </h3>
    </div>

    <div id="mainPhoto" class="mainPhoto">
        <p><img id="mainImage" src="~/Images/@Model.Photos[0].Image" width="400" height="600" /></p>
    </div>

    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.Hidden("Id", Model.Hsuit.Id)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-primary" value="В корзину" style="font-size:24px" />
        </div>
    }
    <div>
        <span class="lead">@Model.Hsuit.Description</span>
        <a href="~/hsuit/@Model.Hsuit.Category"><p>@Model.Hsuit.Category</p></a>
    </div>
</div>

<div class="col-md-1">
    @foreach (var ph in Model.Photos)
    {
        if (ph.Nr == 0)
        {
            <div>
                <img id="@("p"+ph.Nr)"  style="border: solid; border-width: 2px; border-color: lightgreen; margin: 5px" src="/Images/@ph.Image" width="85" height="130"/>                
                <script type="text/javascript">
                    $(@("p"+ph.Nr)).click(function () {
                        chooseImage(@ph.Nr);
                    });
                </script>
            </div>
        }

        else
        {
            <div>
                <img id="@("p"+ph.Nr)" style="margin:5px" src="/Images/@ph.Image" width="85" height="130" />
                <script type="text/javascript">
                    $(@("p"+ph.Nr)).click(function () {
                        chooseImage(@ph.Nr);
                    });
                </script>
            </div>
        }
    }
</div>

























