@using ViVenty.WebUI.Models

@model HsuitDetailsModel

@{
                /**/

                ViewBag.Title = Model.Hsuit.Name;
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="categories" class="col-md-2">
    @Html.Action("Menu", "Nav")
</div>

<div class="well col-md-4">
    <div>
        <h3>
            <strong>@Model.Hsuit.Name</strong>
            <span class="pull-right label label-primary">@Model.Hsuit.Price.ToString("# руб")</span>
        </h3>
    </div>
    <div>
        <p><img src="~/Images/@Model.MainPhoto.Image" width="400" height="600" /></p>
    </div>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.Hidden("Id", Model.Hsuit.Id)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-primary" value="Bucket" style="font-size:32px; color:yellow;font:bold" />
        </div>
    }
    <div>
        <span class="lead">@Model.Hsuit.Description</span>
        <a href="~/hsuit/@Model.Hsuit.Category"><p>@Model.Hsuit.Category</p></a>
    </div>
</div>

<div class="col-md-1">
    @foreach (var f in Model.Photos)
    {
        if (@f.Nr == Model.MainPhoto.Nr)
        {
            <div style="border:solid;border-width:2px;border-color:lightgreen;">
                <a href="~/hsuit/model/@Model.Hsuit.Id/@f.Nr"><img style="margin:5px" src="~/Images/@f.Image" width="98" height="149" /></a>
            </div>
        }

        else
        {
            <div>
                <a href="~/hsuit/model/@Model.Hsuit.Id/@f.Nr"><img style="margin:5px" src="~/Images/@f.Image" width="98" height="149" /></a>
            </div>
        }

    }
</div>

























