@using ViVenty.WebUI.Models

@model HsuitDetailsModel

@{
    /**/

    ViewBag.Title = Model.Hsuit.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script type="text/javascript">
        $(document).ready(function ()
        {
            $(p_0).click(function () {
                console.log("click p_0");
                $('#mainImage').attr("src", "/Images/@Model.p_0.Image" );
            });

            $(p_1).click(function () {
                console.log("click p_1");
                $('#mainImage').attr("src", "/Images/@Model.p_1.Image" );
            });
        });
    </script>

<div id="categories" class="col-md-2">
    @Html.Action("Menu", "Nav")
</div>

<div class="well col-md-4">
    <div>
        <h3>
            <strong>@Model.Hsuit.Name</strong>
            <span class="pull-right label label-primary">@Model.Hsuit.Price.ToString("# руб")</span>
        </h3>
    </div>

    <div id="mainPhoto" class="mainPhoto">
        <p><img id="mainImage" src="~/Images/@Model.MainPhoto.Image" width="400" height="600" /></p>
    </div>

    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.Hidden("Id", Model.Hsuit.Id)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-primary" value="В корзину" style="font-size:24px" />
        </div>
    }
    <div>
        <span class="lead">@Model.Hsuit.Description</span>
        <a href="~/hsuit/@Model.Hsuit.Category"><p>@Model.Hsuit.Category</p></a>
    </div>
</div>

<div class="col-md-1">
    @foreach (var f in Model.Photos)
    {
        <div>
            <p><img id ="p_@f.Nr" style="margin:5px" src="/Images/@f.Image" width="85" height="129" /></p>
        </div>
    }
</div>

























